/* This is a theme for discord, 
 * please refer to the README for instructions
 * 
 * Name: Bludiscord
 * Date: 2018-02-26
 * Author: Itokatsu
 * Repo: https://github.com/Itokatsu/bludiscord
*/
/* INDEX ============================================
=====================================================
0 Generic stuff
	0.1 Window decorations
	0.2 Avatars
	0.3 Notice
	0.4 Scrollbars
-----------------------------------------------------	
1 Guild List
	1.0 Guild Variables
	1.1 Guild List
	1.2 Guild Icons
		1.2.1 Generic
		1.2.2 Direct Messages DMs
		1.2.3 Add Guild Button
		1.2.4 Guild Error
		1.2.5 Download Button (browser)
	1.3  Badges & Decoration
		1.3.1 Current Guild 
		1.3.2 Unread Message
		1.3.3 Highlight 
		1.3.4 Video Audio Badges
-----------------------------------------------------	
2 Channel List
	2.1 Header
	2.2 Categories
	2.3 Channels
		2.3.1 Current Channel
		2.3.2 Icons
		2.3.3 Muted/Locked Channels
		2.3.4 Voice Channels
	2.4 Footer Cards
	2.5 Notifications
-----------------------------------------------------	
3 Chat
	3.1 Header
	3.2 Messages
		3.2.1 Images
		3.2.1 Highlights & Links
		3.2.2 Decorations
			3.2.30 Scrolling Back
			3.2.31 Bot Tag
			3.2.32 Dividers 
		3.2.4 Embed-likes
			3.2.40 Code Blocks
			3.2.41 Embeds
			3.2.42 Invites
		3.2.3 Separators
	3.3 Scroll Bar
	3.4 Input Bar
		3.4.1 Bar
		3.4.2 Emoji Picker
-----------------------------------------------------	
4 Member List
	4.1 User card
		4.1.1 Header
		4.1.2 Activity
		4.1.3 Body
	4.2 User profile
-----------------------------------------------------	
5 Search Panel
-----------------------------------------------------	
6 Friend Screen
	6.1 PM Channels
		6.1.1 Generic Channels
		6.1.2 Current Channel
		6.1.3 Search Bar
	6.2 Friend List
		6.2.1 Header
		6.2.2 Add Friend
		6.2.3 List
-----------------------------------------------------	
7 Popout
	7.1 Generics
	7.2 Context Menu
	7.3 Popout Menu
	7.4 Themed Popout
	7.5 Search Filters
-----------------------------------------------------	
8 Fullscreen menu
	8.1 Backdrop
		8.1.1 Channel Settings
		8.1.2 Create Join/Guild
		8.1.3 Channel Title
		8.1.4 Help
	8.2 Settings

=====================================================
================================================= END */
/**
 0 Generic stuff 
 **/
.avatar-1BXaQj, .image-33JSyf,
.avatarHint-1qgaV3, .iconActiveLarge-3wrcgc, .image-EVRGPw, .avatarDefault-3jtQoc, .btn-download-apps, .guilds-wrapper .guilds-error, .guilds-wrapper .guilds-add, .guild-inner a, .guilds-wrapper .guilds .guild-placeholder, .avatar-large, .avatar-profile, .avatar-small, .avatar-xlarge, .avatar-xsmall, .avatar-xxlarge,
.avatarDefault-35WC3R, .avatarSpeaking-1wJCNq {
  border-radius: 15% !important;
  border: 2px solid #364959;
}

.wrapper-232cHJ, .badge {
  background-color: #c92c7d !important;
  color: #0c2437 !important;
  bottom: -6px !important;
  right: -6px !important;
  width: 6px;
}

.search-popout, .popout .themed-popout, .popout section, .popout header, .quickSelectPopout-3KoYgk, .popout .menu-3BZuDT, .contextMenu-uoJTbz, .tooltip,
.small-popout-box, [class^=userPopout], .diversitySelector-O3ea2c .popout-2lja3I, .emojiPicker-3g68GS {
  background-color: #0c2437 !important;
  border: 1px solid #364959;
}

.side-2nYO0F .itemSelected-3XxAMf, .quickswitcher-2NdiGJ .resultFocused-2geRUA, .Select-option.is-focused, .react-datepicker .react-datepicker__day:hover, .search-popout .option.selected, .search-popout .search-option:hover, .private-channel-recipients-invite .friend.selected, .quickSelectPopout-3KoYgk .quickSelectPopoutOption-30K_XY:hover, .popout .menu-3BZuDT .item-rK1j5B:hover, .contextMenu-uoJTbz .item-1XYaYf:hover, .option-popout .btn-item:hover, #friends .friends-row:hover, #friends .tab-bar-item:hover, .private-channels .channel:hover a, .row.selected, .emojiPicker-3g68GS .emojiItem-3l4Fa9.selected-1LQfcZ, .contentHoveredText-2HYGIY,
.contentHoveredVoice-3qGNKh:active,
.contentSelectedVoice-gTtYM9:active, [class*=contentHovered] {
  background-color: #355674 !important;
  color: #b9bbbe !important;
}

/* 0.1 Window decorations */
.appMount-3VJmYg {
  background-color: #0c2437;
  box-sizing: border-box !important;
  border: 2px solid #364959 !important;
}

/* 0.2 Avatars */
/* 0.3 Notice */
.noticeDefault-16Om2m {
  background-color: #9f2363;
}
.noticeDefault-16Om2m .button-2TvR03:hover {
  background-color: #c92c7d;
  color: #123550;
  border-color: #364959;
}

/* 0.4 Scroll bars */
.scrollerThemed-19vinI.themeDark-BdSAwu.scrollerTrack-3hhmU0 > .scroller-fzNley::-webkit-scrollbar-track,
.theme-dark .scrollerWrap-2uBjct.scrollerTrack-3hhmU0 > .scroller-fzNley::-webkit-scrollbar-track,
.theme-light .scrollerThemed-19vinI.themeDark-BdSAwu.scrollerTrack-3hhmU0 > .scroller-fzNley::-webkit-scrollbar-track {
  background-color: #102f48 !important;
}

/* Track */
.scroller-wrap ::-webkit-scrollbar-track,
.scroller-wrap ::-webkit-scrollbar-track-piece,
.scroller::-webkit-scrollbar-track,
.scroller::-webkit-scrollbar-track-piece {
  background-color: #102f48 !important;
  border: 1px solid #123550 !important;
}

/* Thumb */
.scroller-wrap ::-webkit-scrollbar-thumb,
.scroller ::-webkit-scrollbar-thumb {
  border-width: 1px;
  border-color: #102f48 !important;
  background-color: #3b6082 !important;
}

hr {
  border-color: #364959 !important;
}

/**
 1 Guild List 
 **/
/* 1.0 Guild Variables */
.btn-download-apps, .guilds-wrapper .guilds-error, .guilds-wrapper .guilds-add, .guild-inner a, .guilds-wrapper .guilds .guild-placeholder {
  background-color: #0c2437 !important;
  width: 39px !important;
  height: 39px !important;
  line-height: 35.1px !important;
  border-color: #3b6082 !important;
}
.btn-download-apps:hover, .guilds-wrapper .guilds-error:hover, .guilds-wrapper .guilds-add:hover, .guild-inner a:hover, .guilds-wrapper .guilds .guild-placeholder:hover {
  border-color: #bf9057 !important;
  background-color: #11324c !important;
}

/* 1.1 Guild List */
.guilds-wrapper {
  width: 60px;
  background-color: #0c2437;
}
.guilds-wrapper .guilds {
  padding-top: -14.7px;
  padding-left: 10.5px;
}
.guilds-wrapper .guilds .guild {
  margin-top: 14.7px !important;
  width: 39px !important;
  height: 39px !important;
}
.guilds-wrapper .guilds .guild-placeholder {
  border-style: dashed;
  border-width: 1px;
}
.guilds-wrapper + div {
  border-radius: 0px;
}

/* 1.2 Guild Icons */
/* 1.2.1 Generic */
.guild-inner {
  overflow: inherit !important;
  background-color: #0c2437 !important;
}
.guild-inner a {
  background-size: 39px 39px !important;
  box-sizing: border-box;
  color: #3b6082 !important;
  position: relative;
}

/* 1.2.2 Direct Messages DMs */
.guild:first-child {
  width: 39px !important;
  height: 39px !important;
}
.guild:first-child .guild-inner a {
  border-radius: 5px !important;
  background-color: #3b6082 !important;
}
.guild:first-child .guild-inner a:hover {
  border-color: #bf9057 !important;
  background-color: #bf9057 !important;
}
.guild:first-child .friends-icon {
  width: 39px !important;
  height: 39px !important;
  background-size: 28px 25px;
  background-position: 25% 50%;
}

.friends-online {
  color: #3b6082 !important;
  font-weight: bolder !important;
  width: 60px !important;
  margin-left: -10.5px !important;
}

.guild-separator:after {
  background: #3b6082 !important;
  left: 0px !important;
  width: 39px;
}

/* 1.2.3 Add Guild Button */
.guilds-wrapper .guilds-add {
  border-style: dashed;
  border-width: 1px;
  background: inherit;
  color: #3b6082;
  line-height: 20px;
}
.guilds-wrapper .guilds-add:hover {
  border-color: #6897bd !important;
  color: #6897bd;
}

/* 1.2.4 Guild Error */
.guilds-wrapper .guilds-error {
  border-color: #f04747 !important;
  background-color: #340404 !important;
  color: #f04747 !important;
}
.guilds-wrapper .guilds-error:hover {
  border-color: #f04747 !important;
  background-color: #4b0606 !important;
}

/* 1.2.5 Download Button (browser) */
.btn-download-apps {
  border-style: dashed;
  border-width: 1px;
  color: #3b6082;
  /*reset left offset*/
  margin-left: 0px;
  padding: 0px;
  margin-top: 39px;
}
.btn-download-apps svg {
  display: none !important;
}

.btn-download-apps::after {
  top: -19.5px;
  left: 0px !important;
  margin-left: 0px !important;
  width: 39px !important;
  background-color: #3b6082;
}

/* 1.3  Badges & Decoration */
/* 1.3.1 Current Guild */
.guild.selected:before {
  display: none !important;
}

.guild.selected a,
.guild:first-child.active a {
  left: -3px;
  top: -3px;
  box-sizing: content-box;
  border-color: #bf9057 !important;
  border-width: 3px;
}
.guild.selected .friends-icon,
.guild:first-child.active .friends-icon {
  background-color: #bf9057 !important;
  background-position: 50% !important;
}

/* 1.3.2 Unread Message */
.guilds .guild.unread:before {
  content: "!" !important;
  background-clip: padding-box;
  border-radius: 3px !important;
  left: -7px !important;
  bottom: -6px !important;
  width: 4px !important;
  padding: 4px 6px 4px 7px !important;
  top: inherit !important;
  font-weight: 600;
  font-size: 12px;
  line-height: 10px;
  z-index: 1;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.15);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

/* 1.3.3 Highlight */
/* Highlight arrows */
.unread-mentions-indicator-top .mention-RlZ5F3,
.unread-mentions-indicator-bottom .mention-RlZ5F3 {
  background-color: rgba(201, 44, 125, 0.8);
}

/* 1.3.4 Video Audio Badges */
.guilds .guild.audio .guild-inner:after,
.guilds .guild.video .guild-inner:after {
  background-color: #3b6082 !important;
  border-radius: 3px !important;
  background-size: 13px !important;
  height: 18px !important;
  width: 17px !important;
  right: -7px !important;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.15);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

/**
 2 Channel List 
 **/
.channels-Ie2l6A {
  background-color: #102f48 !important;
}
.channels-Ie2l6A [class^=content] {
  border-left: 6px solid transparent;
}
.channels-Ie2l6A [class^=unread-] + [class^=content] {
  border-left-color: #6897bd !important;
}

.container-PNkimc {
  border-radius: 0px;
  background-color: transparent !important;
}

/* 2.1 Header */
.header-2o-2hj {
  background-color: #335370 !important;
  min-height: 32px;
  height: 32px;
  border-radius: 3px;
  margin: 0px 15px 10px 15px;
  color: #dcddde;
  text-shadow: #6897bd 0px 1px;
  box-shadow: none;
}

/* Channel Notice */
.channelNotice-cQsVXw {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
.channelNotice-cQsVXw button {
  background-color: #3b6082 !important;
}

/* 2.2 Categories */
.iconDefault-3Gr8d2, .nameDefault-2DI02H {
  color: #6897bd;
}

.iconHovered-3PRzOR, .nameHovered-1gxhWH {
  color: #279efe;
}

.iconCollapsed-3hFp_8, .nameCollapsed-34uFWo {
  color: #3b6082;
}

.iconHoveredCollapsed-jNYgOD, .nameHoveredCollapsed-2orEWB {
  color: #0262bb;
}

.icon-2WU8ha {
  fill: #6897bd;
  opacity: 0.7;
}
.icon-2WU8ha:hover {
  fill: #279efe;
}

/* Underline */
.containerDefault-3GGEv_:first-child {
  padding-bottom: 6px;
  margin-bottom: 6px;
}
.containerDefault-3GGEv_:first-child:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 10%;
  width: 80%;
  border-bottom: 1px solid #3b6082;
}

/* 2.3 Channels */
/* 2.3.1 Current Channel */
[class^=contentSelectedText] {
  background-color: #3b6082 !important;
  border-left-color: #d69240 !important;
}

[class^=nameSelectedText],
[class^=nameSelectedVoice] {
  color: #d69240;
}

/* 2.3.2 Icons */
.colorSelectedText-1y4Wvs,
.colorSelectedVoice-Xcb_9R {
  color: #d69240;
}
.colorSelectedText-1y4Wvs .foreground-2zy1hc,
.colorSelectedVoice-Xcb_9R .foreground-2zy1hc {
  opacity: 1;
}

.icon-3dhTrw, .actionIcon-2JXNvo {
  opacity: 0.8;
}
.icon-3dhTrw path, .actionIcon-2JXNvo path {
  fill: #6897bd;
}
.icon-3dhTrw:hover, .actionIcon-2JXNvo:hover {
  opacity: 1;
}
.icon-3dhTrw:hover path, .actionIcon-2JXNvo:hover path {
  fill: #6d96b8;
}

/* 2.3.3 Muted/Locked Channels */
.nameMutedText-1YDcP-,
.nameMutedVoice-26k4cP {
  color: #364959 !important;
  text-decoration: line-through;
}

/* 2.3.4 Voice Channels */
.nameHoveredVoice-TIoHRJ {
  color: #b9bbbe;
}

.avatarSpeaking-1wJCNq {
  box-shadow: none;
  border-color: #d69240;
}

.nameSpeaking-3ROx9q {
  color: rgba(214, 146, 64, 0.8);
}

/* Summary */
.avatarMasked-1DKyfL {
  -webkit-mask-image: none;
  mask-image: none;
}

.image-EVRGPw {
  border-width: 0px;
}

/* Voice Channel Capacity */
.wrapper-2NJDcI {
  background-color: #0c2437;
}

/* 2.4 Footer Cards */
.container-2Thooq,
.container-1UB9sr {
  background-color: transparent;
  margin-left: 10px;
  margin-right: 10px;
  border-top: 2px solid #364959;
  border-top-color: rgba(255, 255, 255, 0.04);
  margin-bottom: 3px;
  border-bottom: 0px;
}

/* 2.5 Notifications */
.unread-2TDDFN {
  background-color: #2b4961 !important;
}

.unread-1Dp-OI {
  display: none;
}

.channels-3g2vYe [class^=unread-] + [class^=content] {
  border-left-color: #6897bd !important;
}

/* 2.5.1 Highlight bar */
.mention-RlZ5F3 {
  background-color: #c92c7d;
}
.mention-RlZ5F3:hover {
  background-color: #d43b8a !important;
}

/* 2.5.2 Highlight badge */
/* 2.5.3 Scroll bar */
.scroller-fzNley::-webkit-scrollbar-thumb {
  background-color: #3b6082 !important;
}

/**
 3 Chat 
 **/
/* 3.1 Header */
.chat .title-3qD0b- {
  background-color: #102f48;
  min-height: 32px;
  height: 32px;
  box-shadow: none;
}

/* 3.1.1 Channel Title Text */
.channelIcon-1KtcMW,
.channelName-3stJzi,
.groupDM-3qU0Ks,
.groupDMManaged-1GyXtq {
  color: #6897bd !important;
}

/* 3.1.2 Icons */
.iconForeground-3y9f0B,
.title-2Ul_Rx {
  color: #6897bd !important;
}

/* 3.1.3 Search Bar */
.search .search-bar {
  border: 1px solid #364959 !important;
}

/* 3.2 Messages */
[class^=messages],
.chat > .content {
  background-color: #123550 !important;
}

.message-group {
  border-color: #364959;
}
.message-group .comment .markup {
  color: #b3b3b3;
}
.message-group h2 strong {
  color: white;
}

/* 3.2.1 Images */
.chat .imageWrapper-38T7d9 {
  border: 3px solid #364959 !important;
}

/* 3.2.2 Highlight & Links */
.markup .mention {
  background: transparent !important;
  color: #d69240;
}

.message-group .mentioned .message-text {
  background-color: rgba(59, 96, 130, 0.8) !important;
}

.message-group .mentioned .message-text:after {
  border-left-color: #6897bd !important;
  background: rgba(59, 96, 130, 0.8) !important;
}

.mentioned .mention:hover {
  color: #d69240;
}

/* 3.2.3 Decorations */
/* 3.2.30 Scrolling Back */
.chat .new-messages-bar {
  background-color: #3b6082;
  border: 1px solid #364959;
}
.chat .new-messages-bar:hover {
  background-color: #4084d6;
}

.chat .has-more button {
  background-color: rgba(64, 132, 214, 0.4) !important;
  border-color: #4084d6 !important;
  color: #dcddde !important;
}

.chat .jump-to-present-bar {
  background-color: rgba(59, 96, 130, 0.8) !important;
  z-index: 10 !important !important;
}

.chat .jump-to-present-bar:hover {
  background-color: #3b6082 !important;
}

/* 3.2.31 Bot Tag */
[class^=botTag] {
  background-color: #6897bd !important;
  color: #123550 !important;
}

/* 3.2.32 Dividers */
.divider * {
  background-color: #3b6082 !important;
  color: #123550 !important;
}

.divider.divider-red * {
  background-color: #b98f5d !important;
  line-height: 19px !important;
}

/* 3.2.4 Embed-like */
/* 3.2.40 Code Blocks */
.comment .markup pre {
  border-color: #364959 !important;
}
.comment .markup pre code {
  background-color: #091C2A !important;
}

code.inline {
  background-color: #0c2437 !important;
}

/*	3.2.41 Embeds */
.embedPill-3sYS1X {
  background-color: #6897bd !important;
}

.embedInner-t4ag7g,
.theme-dark .attachment-1Vom9D {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-color: #364959 !important;
}
.embedInner-t4ag7g .imageWrapper-38T7d9,
.theme-dark .attachment-1Vom9D .imageWrapper-38T7d9 {
  border-width: 1px !important;
}

.embedFieldName-eYf-oY {
  color: white;
}

/* 3.2.42 Invites */
.wrapper-uAa07y {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-color: rgba(0, 0, 0, 0.2) !important;
}

.resolvingBackground-31eGqp {
  background-image: none !important;
  background-color: #0b1f2f !important;
}

/* 3.4 Input Bar */
.chat form {
  background-color: #123550 !important;
  margin: 0 40px;
  border-top: 1px solid #3b6082;
}

.chat form [class^=attachButton] {
  display: none;
}

.channelTextArea-os01xC {
  margin: 12px 0 12px;
}

.chat form textarea {
  box-sizing: border-box;
  border: 2px solid #364959;
  background-color: #0c2437;
  height: 20px;
  padding: 4px 36px 4px 1em;
  margin: 0px;
}

[class^=spriteNormal],
[class^=spriteHovered] {
  background-image: url(https://discordapp.com/assets/fcf4e109bf6d561ae3cc2d52a5a88936.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px !important;
  background-position: 0 0 !important;
}

.emojiButton-38mF6t {
  bottom: 7px;
}

/* Typing notification */
.chat form [class^=typing] {
  margin-bottom: 42px;
  display: inline-block;
  background-color: transparent !important;
  text-align: right;
  pointer-events: none !important;
}

.chat form [class^=typing] span {
  display: inline-block;
  margin-right: 1%;
}

/* Input Bar Autocomplete */
[class^=autocompleteInner-],
.autocomplete-scroller {
  border-width: 1px;
  border-bottom-width: 0px;
  border-style: solid;
  border-color: #364959;
  background-color: #0c2437;
}

[class^=selectorSelected-] {
  background-color: rgba(64, 132, 214, 0.5) !important;
}

/* 3.4.2 Emoji */
.emojiPicker-3g68GS .stickyHeader-3LjM5X {
  background: #3b6082 !important;
}
.emojiPicker-3g68GS .header-27dQ-e .search-bar {
  background-color: #0c2437;
}
.emojiPicker-3g68GS .header-27dQ-e .search-bar .search-bar-inner {
  background-color: rgba(54, 73, 89, 0.8);
}
.emojiPicker-3g68GS .header-27dQ-e .search-bar .search-bar-inner input {
  color: #cccccc;
}

.emojiPicker-3g68GS .dimmer-jySV_v.visible-1CGy1m {
  background-color: rgba(3, 9, 13, 0.8);
}

/* emoji scrollbar */
/** 
 4 Member List
**/
.members-1998pB {
  background-color: #123550 !important;
}
.members-1998pB .member-2FrNV0:hover .content-3JzEqq,
.members-1998pB .member-2FrNV0.popout-open .content-3JzEqq {
  background: #355674 !important;
}

.channel-members-loading {
  background-color: #0c2437 !important;
}

/* Role */
.membersGroup-3_dP5E {
  color: #6897bd !important;
  position: relative;
  padding-bottom: 10px !important;
  font-weight: bolder;
}

/* 4.1 Usercard */
/* Avatars */
.image-33JSyf,
.avatarHint-1qgaV3 {
  mask: none !important;
  -webkit-mask: none !important;
  margin: 0px;
}

[class^=userPopout] {
  /* 4.1.1 Header */
  /* 4.1.2 Activity */
  /* 4.1.3 Body */
  /* Roles */
}
[class^=userPopout] .headerNormal-T_seeN {
  background-color: inherit !important;
  border-bottom: 1px solid #364959;
}
[class^=userPopout] .headerNormal-T_seeN .headerName-2N8Pdz {
  font-weight: bolder;
  color: #d69240 !important;
}
[class^=userPopout] .headerNormal-T_seeN .username,
[class^=userPopout] .headerNormal-T_seeN .discriminator {
  color: #d69240 !important;
}
[class^=userPopout] .activity-3NviKQ {
  border-top: 1px solid #364959;
  background-color: #0e2a3f;
}
[class^=userPopout] .activity-3NviKQ .headerText-2CVBxK {
  color: #6897bd !important;
}
[class^=userPopout] .activity-3NviKQ button {
  background-color: #3b6082;
  color: #cccccc;
  border: 1px solid #364959 !important;
}
[class^=userPopout] .activity-3NviKQ button:hover {
  background-color: #2d6190 !important;
}
[class^=userPopout] .body-3ljq11,
[class^=userPopout] .footer-2wFs91 {
  background-color: inherit !important;
}
[class^=userPopout] .bodyTitle-18hsd9 {
  color: #b38f63 !important;
}
[class^=userPopout] .role-3rahR_,
[class^=userPopout] button {
  border-radius: 0px;
}

/* Add Role popout */
.autocomplete-header-background {
  background-color: #0e2a3f !important;
  border: 1px solid #364959;
}

.row.selected {
  background: #355674 !important;
}

/* Notes */
.note-2AtC_s textarea {
  background-color: rgba(54, 73, 89, 0.2);
}
.note-2AtC_s textarea:focus {
  background-color: rgba(54, 73, 89, 0.6) !important;
}

/* Quick Message */
.userPopout-4pfA0d .quickMessage-318jK- {
  background-color: rgba(18, 53, 80, 0.8);
  border-color: #364959;
  color: white;
}
.userPopout-4pfA0d .quickMessage-318jK-:focus {
  border-color: #4084d6 !important;
}

/* 4.2 User Profile */
[class^=topSection] {
  background-color: inherit;
}
[class^=topSection] .username, [class^=topSection] .discriminator {
  color: #b38f63 !important;
}
[class^=topSection] button {
  background-color: #3b6082 !important;
  color: #dcddde !important;
}
[class^=topSection] button:hover {
  background-color: #286195 !important;
}

.headerFill-TTyrtz {
  background-color: #0e2a3f;
}
.headerFill-TTyrtz .headerText-2CVBxK {
  color: #6897bd !important;
}

.tab-bar.tabBar-2z50ux .tabBarItem-1Lg555.selected {
  color: #6897bd !important;
  border-color: #6897bd !important;
}

.body-3_tdh6 {
  background-color: inherit !important;
}

.connectedAccount-3mKaTA, .userInfoSection-2WJxMm + .userInfoSection-2WJxMm {
  border-color: #364959 !important;
}

.listRow-1wEi-U:hover {
  background: #355674 !important;
}

/* 4.3 Loading */
/* #123550 */
.channel-members-loading .heading {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNDAiIGhlaWdodD0iNTAiPjxwYXRoIGZpbGw9IiMxMjM1NTAiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTAgMGgyNDB2NTBIMFYwem0zMCAzNGMwLTMuMzE0IDIuNjktNiA2LjAwMy02aDUzLjk5NEM5My4zMTIgMjggOTYgMzAuNjkzIDk2IDM0YzAgMy4zMTQtMi42OSA2LTYuMDAzIDZIMzYuMDAzQzMyLjY4OCA0MCAzMCAzNy4zMDcgMzAgMzR6Ii8+PC9zdmc+DQo=") !important;
}

.channel-members-loading .member {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNDAiIGhlaWdodD0iNDAiPjxwYXRoIGZpbGw9IiMxMjM1NTAiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTAgMGgyNDB2NDBIMFYwem0zMCAyMGMwLTguMjg0IDYuNzE0LTE1IDE1LTE1IDguMjg0IDAgMTUgNi43MTQgMTUgMTUgMCA4LjI4NC02LjcxNCAxNS0xNSAxNS04LjI4NCAwLTE1LTYuNzE0LTE1LTE1em00MCAwYzAtMi43NiAyLjIzLTUgNC45OTMtNWg5MC4wMTRjMi43NTcgMCA0Ljk5MyAyLjI0NCA0Ljk5MyA1IDAgMi43Ni0yLjIzIDUtNC45OTMgNUg3NC45OTNDNzIuMjM2IDI1IDcwIDIyLjc1NiA3MCAyMHoiLz48L3N2Zz4=") !important;
}

.channel-members-loading .member:nth-child(3n+2),
.channel-members-loading .member:nth-child(7n+4) {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNDAiIGhlaWdodD0iNDAiPjxwYXRoIGZpbGw9IiMxMjM1NTAiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTAgMGgyNDB2NDBIMFYwem0zMCAyMGMwLTguMjg0IDYuNzE0LTE1IDE1LTE1IDguMjg0IDAgMTUgNi43MTQgMTUgMTUgMCA4LjI4NC02LjcxNCAxNS0xNSAxNS04LjI4NCAwLTE1LTYuNzE0LTE1LTE1em00MCAwYzAtMi43NiAyLjI0LTUgNS4wMDMtNWgxMDUuOTk0YzIuNzYzIDAgNS4wMDMgMi4yNDQgNS4wMDMgNSAwIDIuNzYtMi4yNCA1LTUuMDAzIDVINzUuMDAzQzcyLjI0IDI1IDcwIDIyLjc1NiA3MCAyMHoiLz48L3N2Zz4NCg==") !important;
}

.channel-members-loading .member:nth-child(2n-4),
.channel-members-loading .member:nth-child(7n-1) {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNDAiIGhlaWdodD0iNDAiPjxwYXRoIGZpbGw9IiMxMjM1NTAiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTAgMGgyNDB2NDBIMFYwem0zMCAyMGMwLTguMjg0IDYuNzE0LTE1IDE1LTE1IDguMjg0IDAgMTUgNi43MTQgMTUgMTUgMCA4LjI4NC02LjcxNCAxNS0xNSAxNS04LjI4NCAwLTE1LTYuNzE0LTE1LTE1em00MCAwYzAtMi43NiAyLjI0Ny01IDUtNWg4MGMyLjc2MiAwIDUgMi4yNDQgNSA1IDAgMi43Ni0yLjI0NyA1LTUgNUg3NWMtMi43NjIgMC01LTIuMjQ0LTUtNXoiLz48L3N2Zz4NCg==") !important;
}

/**
 5 Search Result Panel
**/
.search-results-wrap {
  background-color: #102f48 !important;
}

/* 5.1 Header */
.search-results-wrap .search-header {
  background-color: #0c2437 !important;
}
.search-results-wrap .search-header .tab.selected, .search-results-wrap .search-header .tab:hover {
  color: #6897bd !important;
  border-color: #6897bd !important;
}

/* 5.2 Body */
/* Separator */
.search-results-wrap .channel-separator .channel-name {
  background-color: #102f48 !important;
  color: #6897bd !important;
}

.search-results-wrap .search-result:before, .search-results-wrap .search-result:after {
  background-image: none !important;
}
.search-results-wrap .search-result .search-result-message.hit {
  background-color: #123550;
  border: 1px solid #364959 !important;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.search-results-wrap .search-result .action-buttons .jump-button {
  background-color: #4a7ea8;
}

.search-results-wrap .search-result.expanded {
  border-color: #364959 !important;
  background-color: #2b465f !important;
}
.search-results-wrap .search-result.expanded .search-result-message.hit {
  background-color: #3b6082 !important;
}

/* Pagination */
.search-results-wrap .pagination .pagination-next,
.search-results-wrap .pagination .pagination-previous {
  background-color: #1a4e75 !important;
}

/**
 6 Friend Screen
 **/
.private-channels header {
  color: #6897bd;
  opacity: 1;
}

.channel.btn-friends {
  opacity: 1;
}

/* 6.1 PM Channels */
/* 6.1.1 Generic Channels */
.private-channels .channel a {
  border-left: 6px solid transparent !important;
}
.private-channels .channel:hover .channel-name {
  color: #b9bbbe;
}

/* 6.1.2 Current Channel */
.private-channels .channel.selected {
  /* no change */
}
.private-channels .channel.selected a {
  color: #d69240 !important;
  background-color: #3b6082 !important;
  border-left-color: #d69240 !important;
}
.private-channels .channel.selected a .channel-name {
  font-weight: 600;
  color: inherit;
}
.private-channels .channel.selected:hover a {
  background-color: #3b6082 !important;
  border-left-color: #d69240 !important;
}

/* 6.1.3 Search Button */
.private-channels .search-bar {
  height: 32px;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.private-channels .search-bar .search-bar-inner {
  background-color: #335370;
}

/* 6.2 Friend List */
.friends-table,
#friends {
  background-color: #123550 !important;
}

/* 6.2.1 Header */
.headerBar-cxbhPD {
  background-color: #102f48 !important;
  border-left: 1px solid #364959 !important;
}

#friends .tab-bar-item-primary {
  background: #4084d6 !important;
}

#friends .tab-bar-item.selected {
  background: #d69240 !important;
  color: white !important;
}

/* 6.2.2 List */
#friends .friends-row .friends-action {
  background-color: #7396b2 !important;
}

#friends .friends-row .friends-action:hover {
  background-color: #5d98c8 !important;
}

/** 
 7 Popouts
 **/
/* 7.1 Generic Tooltips */
.tooltip.tooltip-red {
  background-color: #630808 !important;
  border-color: #f04747;
}

.tooltip.tooltip-top.tooltip-black:after {
  border-top-color: #364959;
}

.tootlip-top.tooltip-red:after {
  border-top-color: #f04747 !important;
}

.tooltip.tooltip-right.tooltip-black:after {
  border-right-color: #364959;
}

.tootlip-right.tooltip-red:after {
  border-right-color: #f04747 !important;
}

.tooltip.tooltip-bottom.tooltip-black:after {
  border-bottom-color: #364959;
}

.tootlip-bottom.tooltip-red:after {
  border-bottom-color: #f04747 !important;
}

.tooltip.tooltip-left.tooltip-black:after {
  border-left-color: #364959;
}

.tootlip-left.tooltip-red:after {
  border-left-color: #f04747 !important;
}

/* 7.2 Context Menu */
.contextMenu-uoJTbz .itemSubMenu-3ZgIw- {
  background-color: #0c2437;
}
.contextMenu-uoJTbz .item-1XYaYf:hover.danger-1oUOCl {
  background-color: rgba(240, 71, 71, 0.7) !important;
}

/* 7.3 Popout Menu */
.popout .menu-3BZuDT .separator-1hpa3S {
  border-color: #364959;
}
.popout header {
  color: #d69240;
}
.popout section {
  border-top: 0px;
}

.popout.popout-top-right section:after,
.popout.popout-top section:after {
  border-top-color: #364959;
}

/* 7.4 Themed popouts */
.popout .themed-popout .header {
  background-color: #0c2437 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.popout .themed-popout .header .title {
  color: #d69240 !important;
}
.popout .themed-popout .footer {
  background-color: #0c2437;
}

.messages-popout-wrap .messages-popout {
  background-color: #0c2437 !important;
}

.messages-popout .message-group {
  background-color: #123550 !important;
  border-color: #364959 !important;
}
.messages-popout .message-group .jump-button {
  background-color: #0c2437 !important;
  color: #6897bd !important;
}
.messages-popout .message-group .jump-button .text {
  color: #6897bd !important;
}
.messages-popout .message-group .action-buttons {
  background-color: transparent !important;
}
.messages-popout .message-group:hover .action-buttons {
  box-shadow: 0 0 6px 4px #0b1f2f !important;
  background-color: #0c2437 !important;
}

.tab-bar-item.selected {
  color: #6897bd !important;
  border-color: #6897bd !important;
}

.mention-filter .value {
  color: #cccccc !important;
}

/* Add Friends to DM */
.themed-popout .search-bar {
  background-color: #0c2437;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.themed-popout .search-bar input {
  background-color: rgba(18, 53, 80, 0.8);
}
.themed-popout .search-bar .search-bar-tag {
  background-color: #3b6082;
  border: none;
}

.private-channel-recipients-invite .friend {
  background: #0c2437 !important;
  color: #cccccc !important;
}
/* DM Call */
.video-3lOWa6, .private-channel-call-video-wrapper {
  background-color: #0c2437 !important;
}

.videoTop-epANMH {
  background-image: none !important;
}

/* Screen share */
.tiles-3jKTg9 {
  background-color: #0b1f2f !important;
}

/* 7.5 Search Options Menu */
.searchFilter-1fJ0cd, .searchAnswer-yD90ey {
  background-color: #3b6082 !important;
}

.search-popout .search-query, .search-popout .results-group:before {
  border-color: #364959 !important;
}
.search-popout .header {
  color: #6897bd !important;
}
.search-popout .search-option .filter {
  color: #d69240;
}
.search-popout .option:after {
  background: #0c2437;
}
.search-popout .option.selected:after {
  background: linear-gradient(90deg, #355674, #0c2437);
}
.search-popout .option strong, .search-popout .option .displayed-nick {
  color: #d69240 !important;
}
.search-popout .option .search-result-channel-icon {
  color: #915d1f;
}

/* calender */
.date-picker {
  border-top: none !important;
}
.date-picker .hint-value {
  background-color: #3b6082 !important;
}

.react-datepicker {
  background: #0c2437 !important;
  /* header */
  /* body */
}
.react-datepicker .react-datepicker__navigation.react-datepicker__navigation--next,
.react-datepicker .react-datepicker__navigation.react-datepicker__navigation--previous {
  border-color: #364959 !important;
  background-color: #164061 !important;
}
.react-datepicker .react-datepicker__header {
  background: #0c2437 !important;
  border-color: #3b6082 !important;
}
.react-datepicker .react-datepicker__header .react-datepicker__current-month {
  color: #6897bd !important;
  border-color: #3b6082 !important;
}
.react-datepicker .react-datepicker__header .react-datepicker__day-name {
  color: #3b6082 !important;
}
.react-datepicker .react-datepicker__day {
  border-color: #364959 !important;
  color: #dcddde !important;
}
.react-datepicker .react-datepicker__day--outside-month {
  background-color: #0b1f2f !important;
  color: #364959 !important;
}
.react-datepicker .react-datepicker__day--today {
  color: white !important;
}
.react-datepicker .react-datepicker__day--today:after {
  background-color: #355674 !important;
}

/**
 8 Fullscreen menu 
 **/
/* 8.1 Backdrop screens */
.backdrop-2ohBEd {
  background-color: #03090d !important;
}

.need-help-modal.deprecated .footer input[type=text],
.need-help-modal.deprecated .header input[type=text], .form.deprecated .form-inner input[type=text] {
  background-color: #3b6082;
  color: #cccccc;
  border: 1px solid #364959 !important;
}
.need-help-modal.deprecated .footer input[type=text]:focus,
.need-help-modal.deprecated .header input[type=text]:focus, .form.deprecated .form-inner input[type=text]:focus {
  border: 1px solid #6897bd !important;
}

.quickswitcher-2NdiGJ, .need-help-modal.deprecated .footer,
.need-help-modal.deprecated .header, .regionSelectModal-QBpi1R, .form.deprecated .btn-default, .form.deprecated .form-actions, .form.deprecated .form-inner,
.form.deprecated .form-inner .action, .inner-1_1f7b .form-header, .inner-1_1f7b .form-inner, .inner-1_1f7b .form-actions, .wrapper-VSYYTS, .inner-1_1f7b, .footer-1PYmcw {
  border-radius: 0px !important;
  background-color: #0c2437 !important;
  color: #dcddde;
}

/* Select */
.Select-value {
  background-color: #0b1f2f;
  border: 1px solid #364959 !important;
}

.Select-menu-outer {
  border-color: #364959;
}

.Select-option {
  background: #0b1f2f !important;
}

/* 8.1.1 Channel Settings */
.inner-1_1f7b h4, .inner-1_1f7b h5 {
  color: #d69240 !important;
}
.inner-1_1f7b input[type=text] {
  background-color: rgba(18, 53, 80, 0.8);
}

/* Create Invite */
.inner-1_1f7b {
  /* Checkboxes */
}
.inner-1_1f7b .form-header *, .inner-1_1f7b .form-inner *, .inner-1_1f7b .form-actions * {
  color: #cccccc !important;
}
.inner-1_1f7b .clipboardInputInner-oj8y-S {
  border: none;
}
.inner-1_1f7b .clipboardInputInner-oj8y-S input {
  background: #364959;
}
.inner-1_1f7b .clipboardInputInner-oj8y-S button {
  border: none;
  color: #e6e6e6;
}
.inner-1_1f7b .clipboardInputInner-oj8y-S button:before {
  display: none;
}
.inner-1_1f7b input[type=checkbox] + span {
  border-color: #364959 !important;
}
.inner-1_1f7b input[type=checkbox]:checked + span {
  border-color: #364959 !important;
}

/* 8.1.2 Create/Join Guild */
.form.deprecated .form-inner,
.form.deprecated .form-inner .action {
  /* Create */
}
.form.deprecated .form-inner label,
.form.deprecated .form-inner .action label {
  color: #d69240;
}
.form.deprecated .form-inner .avatar-uploader,
.form.deprecated .form-inner .action .avatar-uploader {
  border-width: 0px;
}

.form.deprecated .form-actions {
  border-top-color: #364959;
}

.form.deprecated .btn-default {
  border-bottom-color: #6897bd;
}

/* Select Regions */
.regionSelectModal-QBpi1R .regionSelectModalOption-3giLPN {
  background-color: #0c2437 !important;
  border-color: #364959;
}

/* 8.1.3 Channel Title */
.modal-3HOjGZ {
  background-color: #0c2437 !important;
}

/* 8.1.4 Help */
.need-help-modal.deprecated .footer,
.need-help-modal.deprecated .header {
  border-color: #364959;
}
.need-help-modal.deprecated .footer h1,
.need-help-modal.deprecated .header h1 {
  color: #d69240;
}
/* Delete Message Confirmation */
.message-25xg43 {
  background-color: #123550 !important;
}

/* 8.2 Settings */
.ui-standard-sidebar-view .sidebar-region {
  background: #0a1c2b !important;
}

.header-1-f9X5 {
  color: #6897bd !important;
}

.ui-standard-sidebar-view .content-region {
  background: #0c2437 !important;
}
.ui-standard-sidebar-view .content-region h2 {
  color: #d69240 !important;
}
.ui-standard-sidebar-view .content-region h5 {
  color: #6897bd !important;
}

.theme-dark .cardPrimary-ZVL9Jr,
.theme-light .cardPrimary-ZVL9Jr,
.theme-light .cardPrimaryEditable-2IQ7-V,
.theme-dark .cardPrimaryEditable-2IQ7-V {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: #364959;
}

.userSettingsVoice-TvPQ80 .previewOverlay-2vHj3H {
  background-color: #0b1f2f !important;
  border-color: #364959 !important;
}

/* games */
.user-settings-games .game {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.card-11ynQk:before,
.button-1qrA-N {
  background-color: #123550 !important;
  border-color: #364959 !important;
}

.user-settings-games .game-name-input:focus,
.user-settings-games .game-name-input:hover {
  background-color: #0b1f2f !important;
}
